.container{
    padding: 8%;
}
// .container{
//     padding: 5%;
// }

// .card{
//     padding: 15%;
//     border-radius: 10px;
//     background-color: #c72d2d;
//     height: 100%;
// }
p{
    font-size: 25px;
    font-weight: bold;
}