<div class="container">
    <div class="row">
        <div style="align:center" class="col-md-4 mb-5 stretch-card transparent">
    
            <div style="background:rgb(178, 174, 174);text-align: center;" class="card card-dark-blue">
    
                <div class="card-body">
    
                    <p class="mb-4">Total Users</p>
    
                    <p class="fs-30 mb-2">
                      5
                    </p>
    
                </div>
    
            </div>
    
        </div>
        <div style="align:center" class="col-md-4 mb-5 stretch-card transparent">
    
            <div style="background:rgb(178, 174, 174);text-align: center;" class="card card-dark-blue">
    
                <div class="card-body">
    
                    <p class="mb-4">Total Books</p>
    
                    <p class="fs-30 mb-2">
                        5
                    </p>
    
                </div>
    
            </div>
    
        </div>
    </div>
    <div class="row">
        <div style="align:center" class="col-md-4 mb-5 stretch-card transparent">
    
            <div style="background:rgb(178, 174, 174);text-align: center;" class="card card-dark-blue">
    
                <div class="card-body">
    
                    <p class="mb-4">Available Books</p>
    
                    <p class="fs-30 mb-2">
                      5
                    </p>
    
                </div>
    
            </div>
    
        </div>
        <div style="align:center" class="col-md-4 mb-5 stretch-card transparent">
    
            <div style="background:rgb(178, 174, 174);text-align: center;" class="card card-dark-blue">
    
                <div class="card-body">
    
                    <p class="mb-4">Available Users</p>
    
                    <p class="fs-30 mb-2">
                        5
                    </p>
    
                </div>
    
            </div>
    
        </div>
    </div>
</div>
