<div class="container">
    <h2 style="text-align: center;">Category List</h2>
    <button *ngIf="IsUser" class="btn btn-primary btn-sm" routerLink="../add">Add Category</button>
    <br>
    <br>
    <br>
    <div class="table-responsive">
        <table id="CategoryTable">
            <thead>
                <tr>
                    <td>Id</td>
                    <td>Name</td>
                    <td>Image</td>
                    <td *ngIf="IsUser">Action</td>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let list of category">
                    <td>{{list.categoryId}}</td>
                    <td>{{list.name}}</td>
                    <td><img src="{{image}}" ></td>
                    <td *ngIf="IsUser">
                        <button  [routerLink]="['../edit',list.categoryId]" class="btn btn-primary btn-sm">Edit</button>&nbsp;
                        <button  class="btn btn-danger btn-sm" (click)="DeleteCategory(list.categoryId)">Delete</button>&nbsp;
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>

<router-outlet></router-outlet>