.container{
    padding: 5%;
}

.card{
    padding: 15px;
    border-radius: 10px;
    background-color: #f8f8f8;
}

h2{
    font-size: 25px;
}
input{
    margin-top: 1%;
}
textarea{
    margin-top: 1%;
}
select{
    margin-top: 1%;
}
ngx-datepicker{
    margin-top: 1%;
}
span{
    color: red;
}