<div class="container">
    <div class="card">
        <form [formGroup]="categories" (ngSubmit)="addCategory()">
            <h2>Add Category</h2>
            <br>
            <div class="form-group">
                <label for="exampleFormControlInput1">Name:</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Enter Name" formControlName="name">
                <span *ngIf="f['name']?.errors?.['required'] && f['name'].touched">*Name is required</span>
                <span *ngIf="f['name']?.errors?.['minlength'] && f['name'].touched">*Minimum 10 character required</span>
            </div>
            <br>
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Description:</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" [maxlength]="150" rows="2" placeholder=" Enter Description" formControlName="description"></textarea>
                <span *ngIf="f['description']?.errors?.['required'] && f['description'].touched">*Description is required</span>
                <span *ngIf="f['description']?.errors?.['minlength'] && f['description'].touched">*Minimum 10 character required</span>
            </div>
            <br>
            <div class="form-group">
                <label for="exampleFormControlFile1">Image:</label><br>
                <input type="file" class="form-control-file" id="exampleFormControlFile1" formControlName="image">
                <br>
                <span *ngIf="f['image']?.errors?.['required'] && f['image'].touched">*Image is required</span>
            </div>
            <br>
            <button [disabled]="categories.invalid" type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>