.input{
    border-radius: 10px;
}
a{
    // padding: 5%;
    background-color: aqua;
    width: 180px;
    border-radius: 5px;
}
nav img{
    height: 40px;
    border-radius: 50%;
}
// label{
//     padding-left: 2%;
//     font-size: 200%;
//     font-weight: bold;
// }
button{
    margin-left:5px ;
    margin-right:5px ;
}
.bgColor{
    background: rgb(178, 174, 174);
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(161, 125, 125);
    color: white;
    text-align: center;
  }
