  <nav class="navbar navbar-expand-lg navbar-light bgColor">&nbsp;
    <img src="./assets/LibraryLogo.png" alt="" >&nbsp;<h5 >Library Management</h5>
    <div style="text-align: end;" class="col-md-10">
      <img src="./assets/dummyprofile.jpg" alt="">
      <button class="btn btn-dark" (click)="Logout()">Logout</button>
    </div>
  </nav>
  <div>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li class="nav-item">
        <a class="nav-link" data-bs-toggle="tab" [routerLink]="['../home/dashboard']">Dashboard</a>
      </li>
      <li *ngIf="IsUser" class="nav-item">
        <a class="nav-link" data-bs-toggle="tab" [routerLink]="['../home/users/list']">Users</a>
      </li>
      <li  class="nav-item">
        <a class="nav-link " data-bs-toggle="tab" [routerLink]="['../home/categories/list']">Category</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-bs-toggle="tab" [routerLink]="['../home/books/list']">Books</a>
      </li>
      <li *ngIf="IsUser" class="nav-item">
        <a class="nav-link " data-bs-toggle="tab" [routerLink]="['../home/books/bookissue']">Book Issue</a>
      </li>
      <li *ngIf="IsUser" class="nav-item">
        <a class="nav-link " data-bs-toggle="tab" [routerLink]="['../home/books/bookreturn']">Book Return</a>
      </li>
    </ul>
  </div>
<!-- <footer class="footer">
  <div class="d-sm-flex justify-content-center justify-content-sm-between">
    <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2021. Azbakiah @ All rights reserved.</span>

  </div>

</footer> -->
<router-outlet></router-outlet>