.input{
    border-radius: 10px;
}
li a{
    // padding: 5%;
    background-color: aqua;
    width: 180px;
    border-radius: 5px;
}
nav img{
    height: 80px;
    border-radius: 50%;
}
label{
    padding-left: 2%;
    font-size: 200%;
    font-weight: bold;
}
button{
    margin-left:5px ;
    margin-right:5px ;
}
