<nav style="background-color: blue;" class="navbar navbar-expand-lg navbar-light background-color">
  <img src="./assets/LibraryLogo.png" alt=""><label for="">Library Management</label>
  <div style="text-align: end;" class="col-md-9">
    <img src="./assets/dummyprofile.jpg" alt="">
    <button class="btn-btn-primary">Logout</button>
  </div>
</nav>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <div class="row">
        <div class="col-md-2">
          <li class="nav-item active background-color">
            <a class="nav-link" href="#">Dashboard</a>
          </li>
        </div>
        <div class="col-md-2">
          <li class="nav-item">
            <a class="nav-link" href="#">Categories</a>
          </li>
        </div>
        <div class="col-md-2">
          <li class="nav-item">
            <a class="nav-link" href="#">Books</a>
          </li>
        </div>
        <div class="col-md-2">

          <li class="nav-item">
            <a class="nav-link" href="#">Users</a>
          </li>
        </div>
        <div class="col-md-2">
          <li class="nav-item">
            <a class="nav-link" href="#">Book Issue</a>
          </li>
        </div>
        <div class="col-md-2">
          <li class="nav-item">
            <a class="nav-link" href="#">Book Return</a>
          </li>
        </div>
      </div>




    </ul>
  </div>
</nav>