<!-- <div class="container">
    <div class="card">
        <form [formGroup]="booksissue" (ngSubmit)="issueBook()">
            <h2>Add Book</h2>
            <br>            <br>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label for="exampleFormControlSelect1">Category:</label>
                        <select class="form-control" id="exampleFormControlSelect1" formControlName="categoryId">
                          <option>--Select Category--</option>
                          <option *ngFor="let order of category; let i = index" [value]="category[i].categoryId">
                            {{category[i].name}}
                          </option>
                        </select>
                        <span *ngIf="f['categoryId']?.errors?.['required'] && f['categoryId'].touched">*Category is required</span>
                      </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label for="exampleFormControlSelect1">Category:</label>
                        <select class="form-control" id="exampleFormControlSelect1" formControlName="categoryId">
                          <option>--Select Category--</option>
                          <option *ngFor="let order of category; let i = index" [value]="category[i].categoryId">
                            {{category[i].name}}
                          </option>
                        </select>
                        <span *ngIf="f['categoryId']?.errors?.['required'] && f['categoryId'].touched">*Category is required</span>
                      </div>
                </div>
            </div>
            
            <br>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div> -->
