.container {
  padding: 4%;
  // margin-left: 22%;
  // text-align: center;
}

.card {
  display: block;
  border: 1px solid;
  padding: 5%;
  border-radius: 10px;
  width: 55%;
  margin-left: 20%;

}
label{
  font-weight: bold;
}
input{
  border-radius: 5px;
  border: 1px solid;
}
span{
  color: red;
}