.container {
  padding: 5%;
  // margin:0 auto;
  // align-items: center; 
  margin-left: 70%;
  // text-align: center;
}

.card {
  display: block;
  border: 1px solid;
  padding: 5%;
  // background-color: red;
  border-radius: 10px;
  width: 80%;

}